@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--color-rojo:#c81f26;
	--color-verde: #00b494;
	--color-titulos:#2a2a32;
	--color-contenido: #2a2a32;
}
body{
	color:var(--color-contenido);
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
}

header{
	position: relative;
	background-color: #FFF;
	width: 100%;
	top:0;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}
#hero{
background-image: url("../img/slider-bg-1.jpg");
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	color: #FFFFFF;
	background-blend-mode: multiply;
	background-color:rgba(0,0,0,0.30);
	text-align: center;
}
#hero h1{
	font-size: 90px;
	font-family: "Allura", sans-serif;
}
#hero h2{
	font-size: 60px;
	font-family: "Montserrat", sans-serif;
}
#hero p{
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.btn-danger{
	border-radius: 30px;
	padding: 10px 30px;
	background-color: var(--color-rojo)
}
.titulo{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 30px;
	color: var(--color-rojo);
	padding: 20px;
	margin-top: 40px;
}
.subtitulo{
	font-size: 40px;
	color: var(--color-contenido);
	padding: 20px;
}
.btn-primary{
	background-color: var(color-verde);
	border-radius: 30px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 10px;
	padding: 10px 30px;
	margin-left: 5px;
}
#Arrivals{
	text-align: center;
}
.arrivals h2{
	color: (--color-contenido);
	font-size: 18px;
}
.arrivals h3{
	color: #c81f26;
	text-transform: bold;
	font-size: 16px;
}
#instagram{
	padding: 40px 0;
}
#instagram h3{
	font-size: 24px;
}
#instagram p{
	font-weight: 300;
}
#instagram i{
	color: var(--color-rojo);
	font-size: 40px;
}
#cta{
	background-image: url("../img/sub-bg.jpg");
	text-align: center;
	position: relative;
	background-blend-mode: multiply;
}

footer{
	background-color: #FAFAFA;
	padding: 30px 0;
	font-size: 13px;
	font-weight: 600;
	text-align: center;
}
footer p span{
	color: var(--color-rojo);
}
footer #copy{
	padding: 20px 0;
	margin-top: 5%;
	color: #fff;
	border-top: 1px dashed rgba(255, 255, 255, 0.15);
}
